/* 
 * Loader 
 */

.logo-wrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: +99999;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: wait;
}

.logo-wrapper .outer-circle {
    background-color: transparent;
    border: 5px solid var(--gray-dark);
    opacity: .9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 50px;
    box-shadow: 0 0 35px var(--gray-dark);
    width: 50px;
    height: 50px;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    margin: 0 auto;
    animation: spinPulse 2s infinite ease-in-out;
    -moz-animation: spinPulse 2s infinite ease-in-out;
    -webkit-animation: spinPulse 2s infinite ease-in-out;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.logo-wrapper .outer-circle .inner-circle {
    background-color: transparent;
    border: 5px solid var(--gray-dark);
    opacity: .9;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 50px;
    box-shadow: 0 0 15px var(--gray-dark);
    width: 30px;
    height: 30px;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    margin: 0 auto;
    animation: spinoffPulse 1.5s infinite linear;
    -moz-animation: spinoffPulse 1.5s infinite linear;
    -webkit-animation: spinoffPulse 1.5s infinite linear;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

@keyframes spinPulse {
    0% {
        opacity: 0;
        box-shadow: 0 0 1px var(--gray-dark);
        transform: rotate(160deg);
        -moz-transform: rotate(160deg);
    }
    50% {
        opacity: 1;
        transform: rotate(145deg);
        -moz-transform: rotate(145deg);
    }
    100% {
        opacity: 0;
        transform: rotate(-320deg);
        -moz-transform: rotate(-320deg);
    }
}

@-webkit-keyframes spinPulse {
    0% {
        opacity: 0;
        box-shadow: 0 0 1px var(--gray-dark);
        transform: rotate(160deg);
        -moz-transform: rotate(160deg);
        -webkit-transform: rotate(160deg);
    }
    50% {
        opacity: 1;
        transform: rotate(145deg);
        -moz-transform: rotate(145deg);
        -webkit-transform: rotate(145deg);
    }
    100% {
        opacity: 0;
        transform: rotate(-320deg);
        -moz-transform: rotate(-320deg);
        -webkit-transform: rotate(-320deg);
    }
}

@keyframes spinoffPulse {
    0% {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinoffPulse {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}